body {
    background-color: #f2d1f371;
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

/* Selector de clase */
.class_selector{
    color: #065a9e;
    font-size: 45px;
    font-weight: bold;
}

/*Selector de ID */
#id_selector{
    color: #1b7a03;
    font-size: 40px;
    font-style: italic;
}

/* combinación de selectores */
#selectores_universal_combinaciones{
    font-size: 25px;
    color: #fa8d0f;
}

#selectores_universal_combinaciones p{
    color: #df0e43;
    font-size: 23px;
}

#selectores_universal_combinaciones ul li strong{
    color: #2f0381;
    font-size: 20px;
}

/* Si tiene una coma no es una combinación de selectores, es un selector múltiple */
p, li{
    color: #e02b2b;
    font-size: 20px;
}

.display_block{
    margin: 10px 0 10px 0;
    display: block;
    background-color: #5adbff;
}

.display_inline{
    margin: 25px 0 25px 0;
    display: inline;
    background-color: #272727;
    color: aliceblue;
}

.display_inline_block{
    margin: 25px 0 25px 0;
    display: inline-block;
    background-color: #e67b7b;
}

.display_inline_block_2{
    margin: 25px 0 25px 0;
    display: inline-block;
    background-color: hsl(63, 100%, 73%);
}


.pseudo_hover{
    background-color: rgb(28, 0, 128);
    color: #ffffff;
    border-radius: 15px;
    border: 2px solid #5768c9;
    font-size: 20px;
    padding: 25px 10px 25px 10px;
}

.pseudo_hover:hover{
    background-color: #5957c9;
    color: #3f3866;
    border: 2px solid #3b3866;
    font-size: 20px;
}

.pseudo_focus{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #384066;
}

.pseudo_focus:focus{
    background-color: #e6a671;
    border: 2px solid #042f3a;
}

.pseudo_active{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #5a1a1a;
    background-color: rgba(223, 27, 27, 0.5);
}

.pseudo_active:active{
    background-color: #af3131;
    border: 2px solid #272727;
}