body {
    background-color: #f2d1f371;
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

/* Selector de clase */
.class_selector{
    color: #065a9e;
    font-size: 45px;
    font-weight: bold;
}

/*Selector de ID */
#id_selector{
    color: #1b7a03;
    font-size: 40px;
    font-style: italic;
}

/* combinación de selectores */
#selectores_universal_combinaciones{
    font-size: 25px;
    color: #fa8d0f;
}

#selectores_universal_combinaciones p{
    color: #df0e43;
    font-size: 23px;
}

#selectores_universal_combinaciones ul li strong{
    color: #2f0381;
    font-size: 20px;
}

/* Si tiene una coma no es una combinación de selectores, es un selector múltiple */
p, li{
    color: #9e0096;
    font-size: 20px;
}